body {
	font-family: "Quicksand", Arial, sans-serif;
	font-weight: 400;
	font-size: 15px;
	line-height: 1.8;
	color: black;
}

#style-aside {
	padding-top: 3em;
	padding-bottom: 1px;
	float: left;
	width: 300px;
    height: 100%;
	position: fixed;
	background-color: #e76717;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}
#style-aside .ico-img {
	width: 150px;
	height: 150px;
    margin: 0 auto;
	margin-bottom: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
}
#style-aside .ico-img img{
	height: 100%; 
    object-fit: contain;
	padding: 30px;
}

#style-aside #style-logo {
	text-align: right;
	font-weight: 700;
	font-size: 30px;
	margin-bottom: 0.5em;
	display: block;
	width: 100%;
}

#style-aside h1 {
	font-family: "Raleway", sans-serif;
}
#style-aside #style-logo a {
	display: block;
	text-align: center;
	color: rgb(255, 255, 255);
}
#style-aside #style-menu {
	display: block;
	width: 100%;
}
#style-aside #style-menu ul {
	text-align: center;
	margin: 0;
	padding: 0;
}
#style-aside #style-menu ul li {
	margin: 0 0 10px 0;
	padding: 0;
	list-style: none;
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}
#style-aside #style-menu ul li a {
	color: rgba(255, 255, 255, 0.7);
	text-decoration: none;
	position: relative;
	padding: 10px 0;
	font-family: "Montserrat", sans-serif;;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
#style-aside #style-menu ul li a:after {
	content: "";
	position: absolute;
	height: 1px;
	bottom: 7px;
	left: 0;
	right: 0;
	background-color: #ffffff;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	-moz-transform: scaleX(0);
	-ms-transform: scaleX(0);
	-o-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	-moz-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	-ms-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	-o-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#style-aside #style-menu ul li a:hover {
	text-decoration: none;
	color: black;
}
#style-aside #style-menu ul li a:hover:after {
	visibility: visible;
	-webkit-transform: scaleX(1);
	-moz-transform: scaleX(1);
	-ms-transform: scaleX(1);
	-o-transform: scaleX(1);
	transform: scaleX(1);
}
#style-aside #style-menu ul li.active a {
	font-size: 15px;
	font-weight: 600;
    font-family: "Montserrat", Georgia, serif;
}
#style-aside #style-menu ul li.active a:after {
	visibility: visible;
	-webkit-transform: scaleX(1);
	-moz-transform: scaleX(1);
	-ms-transform: scaleX(1);
	-o-transform: scaleX(1);
	transform: scaleX(1);
}

.container-wrap {
	max-width: 1170px;
	margin: 0 auto;
}

#style-main {
	width: calc(100% - 300px);
	float: right;
    padding-left: 3rem;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}


.skill-bars {
	list-style: none;
	margin: 4rem 0 3rem;
}
.skill-bars li {
	height: .4rem;
	background: #a1a1a1;
	width: 100%;
	margin-bottom: 3rem;
	padding: 0;
	position: relative;
}
.skill-bars li strong {
	position: absolute;
	left: 0;
	top: -2rem;
	font-family: "Quicksand", Arial, sans-serif;
	color: #313131;
	letter-spacing: .1rem;
	font-size: 1.0rem;
	line-height: 2.4rem;
}
.skill-bars li .progress {
	background: #ff5100;
	position: relative;
	height: 100%;
}
.skill-bars li .progress span {
	position: absolute;
	right: -17px;
	top: -2.0rem;
	display: block;
	font-family: "poppins-regular", sans-serif;
	color: white;
	font-size: .6rem;
	line-height: 1;
	background: #ff5100;
	padding: .5rem .5rem;
	border-radius: 4px;
}
.skill-bars li .progress span::after {
	position: absolute;
	left: 50%;
	bottom: -5px;
	margin-left: -5px;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	border-top: 5px solid #ff5100;
	content: "";
}

.skill-bars li .percent5   { width: 5%; }
.skill-bars li .percent10  { width: 10%; }
.skill-bars li .percent15  { width: 15%; }
.skill-bars li .percent20  { width: 20%; }
.skill-bars li .percent25  { width: 25%; }
.skill-bars li .percent30  { width: 30%; }
.skill-bars li .percent35  { width: 35%; }
.skill-bars li .percent40  { width: 40%; }
.skill-bars li .percent45  { width: 45%; }
.skill-bars li .percent50  { width: 50%; }
.skill-bars li .percent55  { width: 55%; }
.skill-bars li .percent60  { width: 60%; }
.skill-bars li .percent65  { width: 65%; }
.skill-bars li .percent70  { width: 70%; }
.skill-bars li .percent75  { width: 75%; }
.skill-bars li .percent80  { width: 80%; }
.skill-bars li .percent85  { width: 85%; }
.skill-bars li .percent90  { width: 90%; }
.skill-bars li .percent95  { width: 95%; }
.skill-bars li .percent100 { width: 100%; }

