@font-face {
	font-family: "icomoon";
	src: url("../fonts/icomoon/icomoon.eot?srf3rx");
	src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix")
			format("embedded-opentype"),
		url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"),
		url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"),
		url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
	font-weight: normal;
	font-style: normal;
}

* {
	box-sizing: border-box;
    margin-top: 0px;
}

#fundo {
	width: 100%;
	overflow: hidden;
	position: relative;
}

a {
	color: #2c98f0;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
    text-decoration: none;
}
a:hover,a:active,a:focus {
	color: #2c98f0;
	outline: none;
}

p {
	margin-bottom: 1.5em;
	font-family: "Montserrat", sans-serif;
}
x {
	margin-bottom: 1.5em;
	background-color: darkkhaki;
	backface-visibility: visible;
}

h1,h5,h6 {
	font-family: "Playfair Display", Georgia, serif;
	font-weight: 400;
	margin: 0 0 30px 0;
}
h2 {
	font-family: "Montserrat", sans-serif;
	font-weight: 200;
	margin: 0 0 20px 0;
}
h3 {
	font-family: "Playfair Display", Georgia, serif;
	font-weight: 500;
	margin: 0 0 30px 0;
}
h4 {
	font-family: "Montserrat", sans-serif;
	font-weight: 300;
	font-size: 15px;
	margin: 0 0 30px 0;
}

