<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			Experienced Python developer with more than 10 years of experience in Python and more than 15 years in software development industry. Passionate about software development and everything involved in it: methodologies, tools, devops and so on.
			<br/><br/>
			I'm currently learning Mandarin chinese to help the chinese community in my country as a volunteer work.
		</div>
		<br>
	</div>
</div>
